doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="/styles/index.css")
    title Aim33 Business Directory

  body
    header

    div(class="full-container")
      nav
      div(id="company-area")
        div(id="company-image")
        div(id="company-info")
          h1(id="name")
          div
            p Specialities
            p Category
            p 4/5 Stars
          div
            p(id="number")
            p(id="whatsapp")

          p(id="description")
          div(id="options")
            div
              div(class="icon")
              p View Hours
            div
              div(class="icon")
              p Find on Map
            div
              div(class="icon")
              p Visit Website

    div(id="company-feedback")
      p Reviews

    footer
      p Created and Maintained by Aim33

  script(src="/scripts/index.js")
