doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="/styles/index.css")
    title Aim33 Business Directory

  body
    h1 Aim33 Business Directory
    p Business Name:
    p Business Address:
    p Business Description:
    p Business Hours:
    p Contact Number:
    p WhatsApp Number:
    p Business Website:
    p Business Email:
