doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" href="/styles/survey.css")
    title Aim33 Business Directory - Survey

  body
    form(action="/survey" method="post")
      label(for="name") Business Name:
      input(placeholder="Business Name", name="name", id="name")

      label(for="category") Business Category
      input(placeholder="Business Category", name="category", id="category")

      label(for="speciality") Business Speciality
      input(placeholder="Business Speciality", name="speciality", id="speciality")

      label(for="description") Business Description
      textarea(placeholder="Business Description", name=description, id="description")

      label(for="hours") Business Hours:
      input(placeholder="Business Hours", name="hours", id="hours")

      label(for="number") Business Number
      input(placeholder="Business Number", name="number", id="number")

      label(for="whatsapp") Business WhatsApp
      input(placeholder="Business WhatsApp", name="whatsapp", id="whatsapp")

      label(for="address") Business Address:
      input(placeholder="Business Address", name="address", id="address")

      label(for="website") Business Website:
      input(placeholder="Website", name="website", id="website")

      label(for="image") Upload Image
      input(placeholder="Upload Image", name="image", id="image")

      label(for="email") Account Email
      input(placeholder="Account Email", name="email", id="email", type="email")

      label(for="password") Account Password
      input(placeholder="Account Password", name="password", id="password", type="password")

      button Submit
